@model EF.Core.Models.Part;


<div class="modal fade" id="deletePart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deletePartLabel">
                    Are you sure want to delete !!!
                </h4>            

                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>


            <div class="modal-body">
                
                <div id="floater"></div>
                <div id="opStatus"></div>
                <p></p>

                <div>
                    <span>Part # @Model.PartId</span>
                    <br />
                    <span>Name : @Model.Name</span>
                    <br />
                    <span>Desc : @Model.Desc</span>
                </div>

                <form action="Part/Delete">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.HiddenFor(model => model.PartId)                        
                    </div>                  
                </form>
            </div>


            <div class="modal-footer">
                <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-primary"
                        data-save="modal"
                        type="button">
                    Delete Part
                </button>
            </div>
        </div>
    </div>
</div>













