@using Microsoft.AspNetCore.Identity
@using MVCCore.Auth.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    .navbar-nav {
        margin-left: auto;
    }

    .userData {
        color: orangered;
        font-size: large;
    }
</style>

@*
    @{
        var user = await UserManager.GetUserAsync(User);
    }
*@

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    var user = await UserManager.GetUserAsync(User);

    <ul class="nav navbar-nav">

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="Home"
               asp-action="Index">
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="Part"
               asp-action="Index">
                <i class="fab fa-product-hunt fa-lg"></i>
                Parts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="CustomerOrder"
               asp-action="Index">
                <i class="fab fa-first-order fa-lg"></i>
                Customer-Orders
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="WorkOrder"
               asp-action="Index">
                <i class="fa fa-industry fa-lg" aria-hidden="true"></i>
                Work-Orders [Operations]
            </a>
        </li>
    </ul>

    <ul class="navbar-nav ">
        <li class="nav-item ">
            <a id="manage" class="nav-link text-dark "
               asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage">
                Hello
                <!--
                <span class="userData"> @UserManager.GetUserName(User)! </span>
                -->
                <span class="userData"> @user.FirstName, @user.LastName ! </span>
            </a>
        </li>
        <li class="nav-item userData">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark ">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Sign Out
                </button>
            </form>
        </li>
    </ul>
}
else if (SignInManager.IsSignedIn(User) && User.IsInRole("Operator"))
{
    var user = await UserManager.GetUserAsync(User);

    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="Home"
               asp-action="Index">
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="OperatorLog"
               asp-action="Index">
                <i class="fa fa-industry fa-lg" aria-hidden="true"></i>
                Operator-Log
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="OperatorLog"
               asp-action="ViewMyLog">
                <i class="fa fa-eye" aria-hidden="true"></i>
                View My-Log
            </a>
        </li>
    </ul>

        <ul class="navbar-nav ">
        <li class="nav-item ">
            <a id="manage" class="nav-link text-dark "
               asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage">
                Hello
                <!--
                <span class="userData"> @UserManager.GetUserName(User)! </span>
                -->              
                <span class="userData"> @user.FirstName, @user.LastName ! </span>
               
            </a>
        </li>
        <li class="nav-item userData">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark ">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Sign Out
                </button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav ">
        <li class="nav-item">
            <a class="nav-link text-dark " id="register"
               asp-area="Identity"
               asp-page="/Account/Register">
                <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark " id="login"
               asp-area="Identity"
               asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt fa-lg"></i>
                Login
            </a>
        </li>
    </ul>
}
