@using EF.Core.Models;
@model EF.Core.DTO.OperationLog;

<style>
    .operationLogModal {
        background-color: lightblue;
    }
    .modalWindow {
        max-width: 80% !important;
    }
</style>

<div class="modal fade" id="operationLog">
    <div class="modal-dialog modalWindow">
        <div class="modal-content">
            <div class="modal-header operationLogModal">
                <h4 class="modal-title" id="operationLogLabel">
                    Operation Log Data
                </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>


            <div class="modal-body">

                <div>
                    @{
                        var opNumber = "";
                        if (@Model.OperationNumber == (int)OperationNumber.Spindle)
                        {
                            opNumber = "Spindle - 10";
                        }
                        if (@Model.OperationNumber == (int)OperationNumber.Hub_Single_Head)
                        {
                            opNumber = "Hub_Single_Head - 20";
                        }
                        if (@Model.OperationNumber == (int)OperationNumber.Hub_Double_Head)
                        {
                            opNumber = "Hub_Double_Head - 30";
                        }
                        if (@Model.OperationNumber == (int)OperationNumber.Push_Cups)
                        {
                            opNumber = "Push_Cups - 40";
                        }
                        if (@Model.OperationNumber == (int)OperationNumber.Assembly_Spindle_Hub)
                        {
                            opNumber = "Assembly_Spindle_Hub - 50";
                        }
                        if (@Model.OperationNumber == (int)OperationNumber.Paint)
                        {
                            opNumber = "Paint - 60";
                        }
                        if (@Model.OperationNumber == (int)OperationNumber.Packaging)
                        {
                            opNumber = "Packaging - 70";
                        }
                        if (@Model.OperationNumber == (int)OperationNumber.Rework_Spindle)
                        {
                            opNumber = "Rework_Spindle - 80";
                        }
                        if (@Model.OperationNumber == (int)OperationNumber.Rework_Hub)
                        {
                            opNumber = "Rework_Hub - 90";
                        }
                    }
                    <h5>Operation # @Model.OperationId</h5>
                    <h5>Operation : [@Model.OperationNumber] @opNumber</h5>
                    <h5>Work Order # @Model.WorkOrderId</h5>
                    <table class="table" id="operationsTable">
                        <thead>
                            <tr>
                                <th>
                                    Operator
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    Pause Time
                                </th>
                                <th>
                                    Cycle Time
                                </th>
                                <th>
                                    Qty Done
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OperationHistory) { 
                            <tr>
                                <td>
                                    [ @item.OperatorId ] @item.OperatorName
                                </td>
                                <td>
                                    @item.OpStartRunTime.ToString("dd, MMM hh:mm tt")
                                </td>
                                <td>
                                    @item.OpPauseRunTime.ToString("dd, MMM hh:mm tt")
                                </td>
                                <td>
                                    @item.CycleTime
                                </td>
                                <td>
                                    @item.QtyDone
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>                 
                </div>
                <p></p>
            </div>


            <div class="modal-footer">
                <button data-dismiss="modal"
                        id="cancel"
                        class="btn btn-default"
                        type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>













