@using EF.Core.Models;
@model EF.Core.Models.OperationToPart

<style>
    .xferPartsForOpModal {
        background-color: lightgreen;
    }
    .customerOrderQTY {
        color : blue;
    }
</style>

<div class="modal fade" id="xferPartsForOp">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header xferPartsForOpModal">
                <h4 class="modal-title" id="xferPartsForOpLabel">
                    X-Fer Parts For Operation
                </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>


            <div class="modal-body">

                <div id="floater"></div>
                <div id="opStatus"></div>
                <p></p>

                <div class="row">
                    <div class="col-md-12">
                        <h5>Customer : @ViewBag.CustomerName [# @ViewBag.CustomerOrderId]</h5>
                        <h5>Customer Order QTY [Required] : <span class="customerOrderQTY">@ViewBag.CustomerOrderQTY</span></h5>
                        <h5>WorkOrder # @ViewBag.WorkOrderId</h5>
                        @{
                            var opNumber = "";
                            if (@ViewBag.OperationNumber == (int)10)
                            {
                                opNumber = "Spindle - 10";
                            }
                            if (@ViewBag.OperationNumber == (int)20)
                            {
                                opNumber = "Hub_Single_Head - 20";
                            }
                            if (@ViewBag.OperationNumber == (int)30)
                            {
                                opNumber = "Hub_Double_Head - 30";
                            }
                            if (@ViewBag.OperationNumber == (int)40)
                            {
                                opNumber = "Push_Cups - 40";
                            }
                            if (@ViewBag.OperationNumber == (int)50)
                            {
                                opNumber = "Assembly_Spindle_Hub - 50";
                            }
                            if (@ViewBag.OperationNumber == (int)60)
                            {
                                opNumber = "Paint - 60";
                            }
                            if (@ViewBag.OperationNumber == (int)70)
                            {
                                opNumber = "Packaging - 70";
                            }
                            if (@ViewBag.OperationNumber == (int)80)
                            {
                                opNumber = "Rework_Spindle - 80";
                            }
                            if (@ViewBag.OperationNumber == (int)90)
                            {
                                opNumber = "Rework_Hub - 90";
                            }
                        }
                        <h5>Operation : [@ViewBag.OperationNumber] @opNumber</h5>
                    </div>
                </div>
                <p></p>


                <div class="row">
                    <div class="col-md-12">
                        <form action="Operation/XferPartsForOperation">
                            @Html.AntiForgeryToken()

                            <div asp-validation-summary="ModelOnly"
                                 class="text-danger">
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    @Html.HiddenFor(model => model.OperationId)
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label">Part</label>
                                        @Html.DropDownList("PartId", (IEnumerable
                                        <SelectListItem>)ViewBag.Parts, "--Select Part--", new { @id = "PartId", @class = "form-control", })
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="XFERQTY" class="control-label"></label>
                                        <input asp-for="XFERQTY"
                                               class="form-control"
                                               name="XFERQTY"
                                               id="XFERQTY"
                                               placeholder="xfer qty - ?" />
                                        <span asp-validation-for="XFERQTY" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal"
                        id="cancel"
                        class="btn btn-default"
                        type="button">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-primary xferPartOp">
                    X-Fer Parts For Operation
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">


    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


