@model IEnumerable<EF.Core.Models.Operation>

@{
    ViewData["Title"] = "Work Order - Operations Home Page";
}

<style>
</style>

<div class="text-center">
    <h1 class="display-4">Work Order - Operations</h1>
</div>
<div>
    <a asp-action="Create">Create - Operation</a>
</div>

<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OperationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationStartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OperationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationStatus)
            </td>

            @{
                var opdate = "";
                if (item.OperationStartDate != null)
                {
                    opdate = item.OperationStartDate.Value.ToShortDateString();
                }
                else
                {
                    opdate = "No - Date";
                }
            }
            <td>
                @opdate
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {


        });
    </script>
}